<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script src="/js/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="slider.css">
    <title>Sahara</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light-blue navbar-fixed-top">
<div class="container">
  <a class="navbar-brand" href="#">SUMU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/artists">Artists</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/charts">Charts <span class="sr-only">(current)</span></a>
      </li>
    </ul>
        <form class="form-inline my-2 my-lg-0" action="/text" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="that">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>
  <div class="container">
    <div class="btn-singles-albums">
      <a class="btn btn-primary btn-sm" role="button" style="background-color: #f15fa3; font-weight: 700;" href="/charts">CDs</a>
      <a class="btn btn-primary btn-sm" role="button" style="background-color: #f15fa3; font-weight: 700;" href="/albumschart">Albums</a>
      <!--<div class="btn-group">
        <button type="button" class="btn  dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #f15fa3; font-weight: 700;">
          Genre Filter
        </button>
         list of all filter genres 
        <div class="dropdown-menu">
          <% genres.forEach(function(genre){ %>
          <a class="dropdown-item" href="albums/charts/<%= genre.genreName %>"><%= genre.genreName %></a>
          <% }) %>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div> -->
      </div>
    </div>
    <p style=" font-weight: 700; letter-spacing: 1.5px">Sahara Top 200 Albums</p>
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Album Title</th>
          <th scope="col">Artist(s)</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <% albums.forEach(function(album){ %>
        <tr>
          <% var i = 1 %>
          <th scope="row"><%= i++ %></th>
          <td><%= album.albumTitle %></td>
          <td><%= album.albumArtist %></td>
          <td><%= album.genreName %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>